body {
    font-family:Arial, sans-serif;
    font-size:14px;
}

.footer {
    position: fixed;
    left: 0; bottom: 0;
    padding: 8px;
    width: 99%;
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -140px 0 0 -182px;
}

.login-input {
    outline: none;
    display: block;
    width: 100%;
    margin: 0 0 13px;
    padding: 7px 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
}

.left-block {
    width: 5%;
    text-align: left;
    alignment: left;
}

.left-block a {
    display: inline;
    text-decoration: none;
    position: relative;
    list-style-type: none;
}

.left-block a:not(:first-child):not(.dropdown-item), .dropdown {
    border-left: 2px solid gray;
    padding: 1px 5px;
}

.right-block {
    width: 5%;
    text-align: right;
    alignment: right;
}

.upload-tg  {
    border-collapse:collapse;
    border-spacing:0;
    border:none;
}

.upload-tg td {
    padding:5px 10px;
    border-style:solid;
    border-width:0;
    overflow:hidden;
    word-break:normal;
}

.upload-tg th {
    font-weight:normal;
    padding:5px 10px;
    border-style:solid;
    border-width:0;
    overflow:hidden;
    word-break:normal;
    text-align:left;
    vertical-align:top;
}

.max-size {
    width: 90%;
}

.view-tg  {
    border-collapse:collapse;
    border-spacing:0;
    width: 100%;
}
.view-tg td {
    padding:10px 5px;
    border-style:solid;
    border-width:0;
    overflow:hidden;
    word-break:normal;
    text-align:center;
    border-top-width:1px;
    border-bottom-width:1px;
    border-color:black;
}

.view-tg th {
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:0;
    overflow:hidden;
    word-break:normal;
    border-top-width:1px;
    border-bottom-width:1px;
    border-color:black;
}

.view-documents-block a {
    display: inline;
    text-decoration: none;
    position: relative;
    list-style-type: none;
}

.view-documents-block a:not(:first-child):not(.dropdown-item), .dropdown {
    border-left: 2px solid gray;
    padding: 1px 5px;
}

.view-tg {
    text-align:center;
    vertical-align:top
}